<footer style="position: absolute; bottom: 2%; left: 40%;">
    <p>Developed by Priyanshu Jha</p>
</footer>

<script src="./js/script.js"></script>
<!-- <script src="./js/line_number.js"></script> -->
<!-- <script src="./js/keywords_highlight.js"></script> -->
</body>

</html>