<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ Code Edtior</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <!-- styles -->
    <style>
        .line-number {
            display: inline-block;
            width: 30px;
            text-align: right;
            user-select: none;
            color: #aaa;
            padding-right: 5px;
            border-right: 1px solid #ddd;
        }
    </style>
</head>

<body>