<%- include('./views/partials/header') %>

<div class="editor-container">
    <!-- code input -->
    <div class="line-number"></div>
    <textarea class="code-input" placeholder="Write C++ code here..."></textarea>
    <!-- output div -->
    <div class="output">
        Output will appear here
    </div>
    <!-- btn container -->
    <div class="btn-container">
        <button class="btn btn_run">Run</button>
        <button class="btn btn_clear">Clear</button>
    </div>
</div>

<%- include('./views/partials/footer') %>