<%- include('./views/partials/header') %>

    <div class="editor-container">
        <!-- dark theme div -->
        <div class="theme-toggle">
            <button class="btn btn_toggle">Change Theme</button>
        </div>
        <!-- code input -->
        <div class="line-number"></div>
        <textarea class="code-input" placeholder="Write C++ code here..."></textarea>
        <!-- output div -->
        <div class="output">
            Output will appear here
        </div>
        <!-- btn container -->
        <div class="btn-container">
            <button class="btn btn_run">Run</button>
            <button class="btn btn_clear">Clear</button>
            <button class="btn btn_download">Download Code</button>
        </div>
    </div>

<%- include('./views/partials/footer') %>